<!DOCTYPE html>

<html>
    <head>
        <title>ADMIN PAGE</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>ADMIN PAGE</h1>
        <h2><span th:text="'Atenção! ' + ${message}"></span></h2>
        Name: <span sec:authentication="name">The User Name</span>
    </body>
</html>
