<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO PAGE</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1><span th:text="'Atenção! ' + ${message}"></span></h1>
        Name: <span sec:authentication="name">The User ID</span> <!--/* <span sec:authentication="principal.cn[0]">The User Name</span> */-->
        <ol>
            <li th:each="task: ${toDoList}" th:text="${task}"></li>
        </ol>
    </body>
</html>
